.about-me {
    background-color: #303030;
    padding: 100px 70px;
}

.about-me__info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 66px;
    max-height: 327px;
}

.about-me__info {
    margin: 0;
    width: 600px;
    height: 327px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me__name {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.about-me__profile {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;

    margin-top: 18px;
}

.about-me__descr {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;

    margin-top: 26px;
}

.about-me__link-items {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.about-me__link-item {
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
}
  
.about-me__link-item:last-of-type {
    margin-right: 0;
}

.about-me__link {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

.about-me__avatar {
    width: 270px;
}
